.container {
    overflow: hidden;
    margin: 0px;
    padding-right: 0px;
}

.nome_jogo{
  color: white;
  padding: 10px;
}

.filterDiv {
    padding: 0px;
    float: center;
    background-color: #978971;
    color: #9C9CA8;
    text-align: center;
    margin-top:20px;
    border-radius: 10px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
 margin-bottom: 0px;
  background-color: #978971;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #978971;
  border-color: #978971;
}

/* Add a dark background to the active button */




